@import url('../../styles/base/global.css');

.container-navigation {
    position: fixed;
    background-color: var(--cor-text1-branco);
    display: flex;
    width: 100%;
    height: 65px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0px 1px 5px 1.0px rgba(92, 92, 92, 0.10);
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    padding: 10px 10px 10px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*.bottom-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    flex-direction: column;
    font-family: var(--fonte-principal-titulo);
    text-decoration: none;
    transition: all 0.3s ease;
}*/

.title-icon {
    display: none;
    
}

.title-icon.active {
    display: block;
    position: relative;
    font-size: 13px;
    margin-top: 36px;
    color: var(--cor-principal-laranja);
    transition: all 0.3s ease;
}

svg {
    transition: all 0.3s ease;
}

.nav-item {
    display: flex;
    position: relative;
    width: 50px;
    height: 65px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--cor-text1-branco) solid 7px;
    background-color: var(--cor-text1-branco);
    font-size: 22px;
    text-decoration: none;
    color: var(--cor-bottombar-cinza);
    transition: color 0.3s ease;
    z-index: 2;
}

.nav-item i {
    position: relative;
    transition: transform 0.2s ease;
    z-index: 3;
}

.nav-item.active {
    transform: translateY(-3px);
    margin-bottom: 45px;
    width: 65px;
    height: 65px;
    align-items: center;
    justify-content: center;
    border: var(--cor-text1-branco) solid 7px;
    background-color: #fcead4;
    border-radius: 50%;
    color: var(--cor-principal-laranja);
    transition: all 0.3s ease;
}



